body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

header.layout {
  background-color: khaki;
  padding: 20px;
}

header.layout > section {
  display: flex;
}

nav.flat > ul {
  display: flex;
}

nav.flat li {
  display: inline;
  list-style: none;
}

nav.flat li:not(:last-of-type):after {
  content: ' | ';
}

main {
  padding: 20px;
}